body {
    background: linear-gradient(to right, #18a6d1, #f8f9f9); /* Gradient from blue to white */
    color: #333333; /* Text color */
    font-family: 'Inter'; /* Setting font family */
    font-size: 16px; /* Setting default font size */
    margin: 0; /* Setting margin to zero */
}

h2 {
    color: #18a6d1; /* Color for h2 headings */
}

*, *::before, *::after {
    box-sizing: border-box; /* Ensuring box-sizing consistency */
}

#bg-blue {
    background-color: #18a6d1; /* Background color for blue element */
}


    /* Tambahkan CSS di bawah ini */
    .navbar-nav .nav-link {
        color: black; /* Mengubah warna teks menjadi hitam */
    }

    /* Menandai tautan yang aktif (berada di halaman beranda, edukasi, atau forum) */
    .navbar-nav .nav-item.active .nav-link {
        font-weight: bold;
    }
