/* Style the footer */
/* footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  } */
  body{
    background: linear-gradient(to left, #ffffff, #88C8E4);
  }
  .rounded-pill{
   width: 150px;
  }

  .image{
    position: relative;
    width: 450px;
    margin-top: 40%;
    left: 20%;
  }
.col-sm-8 {
  position: relative;
  margin-top: 20%;
  right: 8%;
  text-align: right;
  font-size: 22px;
  color: #2A3E4B;

}
h1 {
  color: white;
  position: absolute;
  top: 11%;
  font-size: 90px;
  width: 30cm;
  left: 70px;
  text-align: center;
}
h2 {
  color: white;
  position: absolute;
  top: 51%;
  font-size: 30px;
  width: 30cm;
  left: 68px;
  text-align: center;
  font-weight: 200;
}
h3 {
  font-weight: bolder;
  font-size: 50px;
}
.nav-item{
  cursor: pointer;
  color: black;
  font-weight: 500;
}
.active, .nav__link:hover {
  position: relative;
  background-color: #000000;
  color: white;
  font-weight: 900;
}

.round-button{
  background-color: #88C8E4;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.pagination {
  display: inline-block;
  position:relative ;
  margin-left: 81.5%;
  margin-top: 0%;
  
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #156182;
  color: white;
  border: 1px solid #156182;
}
.pagination a:hover:not(.active) {background-color: #4BACD6;}

.Dropdownn{
  left: 70%;
}
